.mainDataCaptureBlock{
    background-image: url(../src/BluePinkBackground.jpg);
     
    background-repeat: no-repeat;
    background-size: cover;
      
    width: 100vw;
    height:100vh;

    display: grid;
    grid-template-areas: 
    "img    header header"
    "img    wall   wall"
    "info   wall   wall"
    "info   wall   wall"
    "change footer footer";
    grid-template-rows: 8%  31% 5% 49% 7%;
    grid-template-columns: 20% 60% 20%;
}

.changeBlock{
    margin-top: auto;
    margin-bottom: auto;
    text-align: end;
    margin-right: 15px; 
    margin-bottom: 15px; 
}

.burgerBlock{
    grid-area: header;
    border-left: solid white;
}
.footerBlock{
    grid-area: footer;
    border-left: solid white;
}
.imgBlock{
    grid-area: img;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.infoBlock{
    grid-area: info;
    padding-top: 10px;
    font-size: 12pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16pt;
    background: white;
    border-radius: 8%;
    margin: 0px 20px 20px 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.imgBlock>img{
    width: 80%;
    border-radius: 100%;
    border:   5px solid white;
}

.wallBlock{
    grid-area: wall;
    border-left: solid white;
}

.infoBlock>p{
    border-top: solid #eeee 1px;
    height: 25px;
}

.infoBlock>p:first-child{
    border-top: none;
}


