.mainDataCaptureBlock{
    background-image: url(../src/BluePinkBackground.jpg);
     
    background-repeat: no-repeat;
    background-size: cover;
      
    width: 100vw;
    height:100vh;
    min-width: 1800px;

    display: grid;
    grid-template-areas: 
    "img header header"
    "img wall wall"
    "change wall wall"
    "info wall wall"
    "footer footer footer";
    grid-template-rows: 8%  31% 7% 49% 5%;
    grid-template-columns: 20% 60% 20%;

}

.changeBlock{
    margin-top: auto;
    margin-bottom: auto;
    text-align: start;
    margin-left: 35px;
}
.burgerBlock{
    grid-area: header;
}
.footerBlock{
    grid-area: footer;
}
.imgBlock{
    grid-area: img;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.infoBlock{
    grid-area: info;
    padding-left: 35px;
    padding-top: 10px;
    font-size: 12pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16pt;
}

.imgBlock>img{
    width: 80%;
    border-radius: 100%;
    border:   2px solid white;

}

.wallBlock{
    grid-area: wall;
}



