 
a {
  margin: 10px;
  min-width: 15vw;
}

div>div>a:first-child{
  margin-top: 40vh;
}

.main{
  background-image: url(../src/BluePinkBackground.jpg);
   
  background-repeat: no-repeat;
  background-size: cover;
    
  width: 100vw;
  height:100vh;
  text-align: center;
}


