
.mainBlock{
    background-image: url('../src/BluePinkBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 100px;
}
.bodyTable > tr{
    display: inline-block;
    margin-top: 10px;
}
.bodyTable > tr> td> label,  .divGender>label{
    /* border: solid black 1px; */
    width: 200px;
    text-align: end;
    font-weight: bold;   
    font-size: 16pt; 
}
.divGender>input{
    margin-right: 10px;
}
.bodyTable > tr> td> input, .divGender{
    margin-left: 5vw;
    width: 400px;
    height: 40px;
}
a.SaveButton{
    width: 150px;
    margin-top: 40px;
    
}

tr.rowForButton{
    width: 100%;
    text-align: end;
    display: grid;
}

input, .btn{
    border-radius: 10px;
}

.divGender > label{
    display: inline-block;
    text-align: left;
    width: 80px;
    height: 100%;
    vertical-align: top;
}

.divGender > input{
    width: 30px;
    height: 100%;
}
.divGender{
    text-align: left;
    height: 30px;
}
.tableRegistration{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background:rgba(253, 237, 237, 0.555);
}
td{
    padding: 0 20px;
}
.firstElem{
    padding-top: 30px;
}

.rowForButton{
    padding-bottom: 30px;
}